/* Styles limited to cthack sheets */
.intotheodd .no-padding {
  padding: 0;
}
.intotheodd .item-info {
  margin-left: 4px;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.intotheodd .rollable:hover,
.intotheodd .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.intotheodd .character-grid {
  display: grid;
  gap: 10px;
  margin: 10px 0;
  padding: 0;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-column: span 5 / span 5;
}
.intotheodd .character-grid fieldset {
  border-radius: 5px;
}
.intotheodd .character-grid fieldset legend {
  font-weight: bold;
}
.intotheodd .character-header {
  display: flex;
  flex-direction: row;
}
.intotheodd .character-header .character-img {
  width: 100px;
  flex: 0 0 25%;
  /* Prend 25% de la largeur */
}
.intotheodd .character-header .character-details {
  flex: 1;
  /* Prend le reste de la largeur */
  padding-left: 10px;
  flex-direction: column;
}
.intotheodd .character-header .character-details fieldset {
  margin-top: 10px;
  border-radius: 5px;
}
.intotheodd .character-header .character-details fieldset legend {
  font-weight: bold;
}
.intotheodd .ability {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}
.intotheodd .ability input {
  width: 40px;
  font-size: 1.2rem;
}
.intotheodd .ability .divider {
  /* Ajuster l'espace entre les éléments */
  margin: 0 5px;
  /* Ajuster l'espace entre les éléments */
  font-weight: bold;
}
.intotheodd .armour {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.intotheodd .items-list .item {
  margin-top: 10px;
}
.intotheodd .items-list .item .item-name {
  flex: 1;
}
.intotheodd .items-list .item .item-quantity {
  width: 40px;
  font-size: 1.2rem;
}
.intotheodd .items-list .item summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
