// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';

/* Styles limited to intotheodd sheets */
.intotheodd {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/tabs';
  @import 'components/items';
}

.app {
  background-color: #3c0000;
  background-image: none;
  border-radius: 0px;
}

@font-face {
    font-family: 'im_fell_english_proregular';
    src: url('../fonts/feenrm28c.woff2') format('woff2'),
         url('../fonts/feenrm28c.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, .window-app {
  font-family: "im_fell_english_proregular", "Times new roman", "Times", "Serif";
}


