.items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;

  .item-header {
    font-weight: bold;
  }

  .item {
    height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;

    .item-image {
      flex: 0 0 24px;
      margin-right: 5px;
    }

    img {
      display: block;
    }
  }

  .item-name {
    margin: 0;
  }

  .item-controls {
    flex: 0 0 86px;
    text-align: right;
  }

  .item-info {
    margin-left: 4px;
    border-style: solid;
    border-width: thin;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .clickable {
    background-color:darkred;
    color:white;
  }
}
