.attack {
  .attack-main, .attack-description {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;

    fieldset {
      legend {
        font-weight: bold;
        border-radius: 5px;
      }
    }    
    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 50px;
        margin: 0 5px 5px 5px;
      }
    }    
  }
}
